body {
  background: #FFF4E6;
}

#root {
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
}

.app {
  height: 100vh;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-buttons {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.welcome-button {
  min-width: 200px;
  min-height: 50px;
  background: #001229;
  font-family: 'Karla';
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  margin: auto;
  border-radius: .25em;  
  position: relative;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
  0 1px 1px rgba(0, 0, 0, 0.5);
}

.welcome-button:hover {
  cursor: pointer;
}
.welcome-button:active {
  box-shadow: none;
  top: 1px;
}
.upload {
  display: none;
}

.welcome > h1 {
  color: #717244;
  font-size: 3em;
  font-family: 'Karla';
  text-align: center;
}