.question {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  width: 100%;
  height: 75%;
}

.question-choice {
  min-width: 30%;
  border: 2px solid;
  text-align: center;
  border-radius: .5em;
  padding: 20px;
  font-size: .75em;
  position: relative;
  margin: 0px 25px;

  @media (max-width: 960px) {
    min-width: 50%;
  }
}

.question-choice:hover {
  cursor: pointer;
}

.question-choice:active {
  box-shadow: none;
  top: 1px;
}

.correct {
  background-color: #2C4023;
  border-color: #2C4023;
  color: #FFF;
}

.incorrect {
  background-color: #EDAE9F;
  border-color: #EDAE9F;
  color: #FFF;
}

.question-next {
  min-width: 200px;
  min-height: 50px;
  background: #001229;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: .5em;
  border-radius: .25em;  
  position: relative;
}

.question-next:hover {
  cursor: pointer;
}

.question-next:active {
  top: 1px;
}