.result {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
  height: 60%;
  color: #717244;
}

.result-buttons {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.result-button {
  min-width: 200px;
  min-height: 50px;
  padding: 0px 20px;
  background: #001229;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: .5em;
  border-radius: .25em;  
  position: relative;
}

.result-button:hover {
  cursor: pointer;
}

.result-button:active {
  top: 1px;
}